/* Styling for light and dark mode */
:root {
    --dark: #1b1a1a;
    --light: #faf5ff;
}

/* Styling for light and dark mode */
body {
    background-color: var(--light);
    color: var(--dark);
    letter-spacing: 2px;
}

/* Styling for light and dark mode */
.dark-mode {
    --light: #1b1a1a;
    --dark: #faf5ff;
}

.header {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.ul {
    list-style-type: none;
    display: flex;
}

.ul li {
    justify-content: space-between;
    padding: 10px;
}

/* Styling to keep button changing colors between light and dark mode */
.button {
    padding: var(--dark);
    border: solid var(--dark);
    background-color: var(--dark);
    color: var(--light);
    height: 2em;
    width: 5em;
    font-size: 1em;
}

footer {
    text-align: center;
}