:root {
    --dark: #404040;
    --light: #faf5ff;
}

body {
    background-color: var(--light);
    color: var(--dark);
    letter-spacing: 2px;
}

.dark-mode {
    --light: #404040;
    --dark: #faf5ff;
}

.topcorner {
    position: fixed;
    top: 10px;
    right: 10px;
}

.button {
    padding: var(--dark);
    border: solid var(--dark);
    background-color: var(--dark);
    color: var(--light);
}

